@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  background-color: #FFABBC; /* 背景色を追加 */
  padding: 12px; /* 余白を追加 */
}

.pageTitle {
  font-size: 36px;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}

.button-container {
  all: unset;
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  align-items: center;    /* 要素を中央に配置 */
  justify-content: center; /* 必要に応じて追加 */
}

.walletContainer {
  padding: 3.435px; /* 余白を追加 */
  width: 100%; /* ボタンが親要素に広がるようにする */
}

.buttonWrapper {
  width: 100%; /* ボタンが親要素に広がるようにする */
}

.customParagraph1 {
  font-size: 28px;
  font-weight: bold;
  color: #522F22;
}

.customParagraph2 {
  color: white;
}

@media screen and (max-width: 650px) {
  .pageTitle {
    font-size: 24px;
  }
  .customParagraph1 {
    font-size: 20px;
  }
  .customParagraph2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .pageTitle {
    font-size: 18px;
  }
  .customParagraph1 {
    font-size: 16px;
  }
  .customParagraph2 {
    font-size: 15px;
  }
}
