@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color: #FFABBC; /* 背景色を追加 */
  padding: 12px; /* 余白を追加 */
  font-family: 'Zen Maru Gothic', serif;
}

.pageTitle {
  font-size: 36px;
  color: white;
  margin-bottom: 0px;
  font-weight: 700;
}

.button-container {
  all: unset;
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  align-items: center;    /* 要素を中央に配置 */
  justify-content: center; /* 必要に応じて追加 */
}

.walletContainer {
  width: 300px;
  padding: 5px; /* 余白を追加 */
  width: 100%; /* ボタンが親要素に広がるようにする */
}

.buttonWrapper {
  text-align: center; /* 子要素を中央寄せにするために親要素に text-align を追加 */
}

.imageContainer {
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

/* Home.module.css */
.nftContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap as needed */
}

.nftItem {
  flex: 0 0 calc(33.33% - 16px); /* Adjust the width of each item */
  margin-bottom: 16px; /* Adjust the margin as needed */
}


.customParagraph1 {
  font-size: 28px;
  font-weight: bold;
  color: #522F22;
}

.customParagraph2 {
  color: white;
}

@media screen and (max-width: 650px) {
  .pageTitle {
    font-size: 24px;
  }
  .customParagraph1 {
    font-size: 20px;
  }
  .customParagraph2 {
    font-size: 16px;
  }
  .nftImage {
    width: 300;
  }
}

@media screen and (max-width: 400px) {
  .pageTitle {
    font-size: 18px;
  }
  .customParagraph1 {
    font-size: 16px;
  }
  .customParagraph2 {
    font-size: 15px;
  }
}

@media screen and (min-height: 750px) {
  .container {
    height: 100vh;
  }
}